@media(max-width: 1200px){
    .custom-navbar-hm-pg li {
    font-size: 13px;
}
.icon-become-partner img {
    width: 100%;
    max-width: 78%;
    margin-top: 17px;
}
 .headings h4 {
    margin-top: 215px;
}
.btn.btn-danger.register-now-btn {
    margin-top: 82px;
}
.points {
   padding: 0px 55px;
}
.points.fifth {
    margin-top: 67px;
}
.custom-navbar-become-partner li:last-child {
    padding: 5px 18px;
    margin: 32px 1px;
}
.point-one-content{
    width: 100%;
    max-width: 100%;
    padding-right: 0px;
}
.point-two-content{
    width: 100%;
     max-width: 100%;
      padding-right: 0px;
}
.point-three-content{
    width: 100%;
    max-width: 100%;
     padding-right: 0px;
}
}
@media(max-width: 1150px){
.custom-navbar-become-partner li {
    display: inline-block;
    padding: 41px 0px;
    font-size: 22px;
    font-weight: 600;
    margin: -4px 9px;
    float: left;
}
}
@media(max-width: 992px){
    .custom-navbar-hm-pg li {
    font-size: 11px;
    padding: 22px 11px;
}
.custom-navbar-hm-pg {
    /* text-align: center; */
     float: none; 
     margin-right: 50px; 
}
.btn.btn-danger.register-now-btn {
    margin-top: 71px;
}
.five-steps-section {
    width: 100%;
    height: 1012px;
}
.btn.btn-danger.register-btn.text-center {
    padding: 4px 39px;
}
.points{
    margin-left: 0;
}
}
@media(max-width: 768px){
    .icon-hm-pg {
  /*  float: left;
    margin-top: 5px;*/
    padding: 0 0px;
}
    .second-header {
    margin-top: 73px;
}
.trigger-navbar-home-page {
    display: block;
    margin-top: 23px;
    margin-left: 381px;
    cursor: pointer;
}
.custom-navbar-hm-pg{
    width: 300px;
    background-color: #031a2b;
    position: fixed;
    right: -50px;
    top: 74px;
    display:none;
}
.custom-navbar-hm-pg li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
     font-size: 16px;
     text-align: left;
}

.custom-navbar-hm-pg li:last-child {
    padding: 7px 18px;
    margin: 6px -1px;
}
.custom-navbar-become-partner {
        width: 300px;
        background-color: #383838;
        position: fixed;
        right: 0;
        top: 89px;
        display:none;
}
.custom-navbar-become-partner li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
}
.custom-navbar-become-partner li:last-child {
    padding: 7px 18px;
    margin: 6px -1px;
}
.icon-become-partner img {
    width: 100%;
    max-width: 100%;
    margin: 27px 21px;
}
.three-bars{
    display: block;
}
.second-header{
    width: 100%;
}
.light-clr-heading{
    font-size: 69px;
}
.benefits-heading h5 {
    font-size: 56px;
}
.benefits-wraper h4 {
    font-size: 35px;
}
.icon-become-partner img {
    margin: 24px 38px;
    width: 100%;
    max-width: 98%;
}
.points {
    margin-top: 73px;
    font-size: 19px;
    line-height: 27px;
}
.light-clr-heading-join-ufp {
    font-size: 82px;
    margin-bottom: -62px;
}
.interest-heading {
    font-size: 56px;
}
.five-points-box {
    margin-left: 0;
}

.light-clr-heading {
    font-size: 40px;
}
.benefits-heading h5 {
    font-size: 30px;
    margin-top: 7px;
}
.that-easy-img {
    width: 100%;
}
.light-clr-heading-how {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 50px;
}
.five-steps-heading h5 {
    margin-top: 0;
    font-size: 40px;
    margin-bottom: 30px;
}
.points {
    margin-top: 9px!important;
    margin-bottom: 9px!important;
    max-width: 100%;
    padding: 0;
}
.five-steps-section .row{
    margin-left: 0;
    margin-right: 0;
}
.five-steps-section{
    background-image: none;
}
.five-steps-section{
    height: auto;
}
.interest-heading {
    font-size: 38px;
    margin-top: 30px;
}
.third-section .row{
    margin-right: 0;
    margin-left: 0;
}
.icon-become-partner img {
    margin: 15px 0 0;
    width: auto;
    max-width: 100%;
}
.become-partner-banner {
    text-align: center;
    padding: 35px 0 115px;
}
.become-partner-banner p {
    color: #fff;
    font-size: 19px;
    line-height: 1.6;
    font-weight: 500;
}
.step-contentbx p {
    line-height: 21px;
    font-size: 16px;
    font-weight: 700;
}
.benefits-points-leftimgbx img {
    display: none;
}
.benefits-points-leftcontentbx1:after {
    display: none;
}
.benefits-points-wraper {
    background: none;
    text-align: center;
    max-width: 100%;
}
.benefits-points-leftcontentbx2:before {
    display: none;
    }
.benefits-points-leftcontentbx3:after {
    display: none;
}
.benefits-points-leftcontentbx {
    flex: 100%;
    max-width: 100%;
    padding: 0px 40px;
    position: relative;
}
.benefits-points-leftimgbx {
    display: none;
}
.benefits-points-leftcontentbx p {
    text-align: center;
}
.benefits-points-leftcontentbx h6 {
    text-align: center;
}
.simple-steps-inner-wrap {
    width: 100%;
    max-width: 100%;
}
.benefits-points-wraper {
    margin-bottom: 16px;
}
.benefits-points-leftcontentbx h6 {
    margin-bottom: 20px;
    font-size: 20px;
}
.become-partner-banner {
     margin-top: 51px;
    padding: 22px 0 64px;
}
.five-points-ul{
    display: block;
}
.simple-steps-wraper{
    display: none;
}
.pt1{
    padding-top: 25px;
}
.pt5{
    padding-bottom: 25px;
    margin-bottom: 40px;
}
.home-btn {
    font-size: 14px;
}
.btn.btn-danger.register-now-btn {
    margin-top: 0px;
      padding: 0px 39px;
}
}
@media(max-width: 575px){
    .second-header {
    width: 100%;
    background-image: url(../images/mapp.png);
    background-repeat: no-repeat;
    margin-top: 74px;
    background-position: 0 -90px;
    background-size: cover;
}
.custom-navbar-hm-pg {
    top: 74px;
}
.trigger-navbar-home-page {
    margin-left: 300px;
}
}
@media(max-width: 360px){
.second-header {
    width: 100%;
    background-image: url(../images/mapp.png);
    background-repeat: no-repeat;
    margin-top: 64px;
}
.trigger-navbar-home-page {
    margin-left: 262px;
}
.custom-navbar-hm-pg {
    top: 64px;
}
}
@media(max-width: 395px){
.trigger-navbar-home-page {
    margin-left: 253px;
}
}
@media(max-width: 360px){
.custom-navbar-hm-pg {
    top: 72px;
}
}
/*@media(max-width: 350px){
.custom-navbar-hm-pg {
    top: 70px;
}
}*/
/*@media(max-width: 334px){
.custom-navbar-hm-pg {
    top: 64px;
}
}*/