
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');
@font-face {
    font-family: 'Accidental Presidency';
    src: url('../fonts/AccidentalPresidency.eot');
    src: url('../fonts/AccidentalPresidency.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AccidentalPresidency.woff2') format('woff2'),
        url('../fonts/AccidentalPresidency.woff') format('woff'),
        url('../fonts/AccidentalPresidency.ttf') format('truetype'),
        url('../fonts/AccidentalPresidency.svg#AccidentalPresidency') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.form-control:focus{
    outline: none !important;
}
body
{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway';
   
}
.header {
    width: 100%;
    position: fixed;
    z-index: 99999;
    background-color: #020e1a;
   top: 0px;
}
.icon-hm-pg {
  float: left;
  margin-top: 5px;
  padding: 0 27px;
}
.icon-hm-pg img{
    max-width: 79%;
}
.custom-navbar-hm-pg {
    float: right;
    margin-right: 95px;
}
.custom-navbar-hm-pg li {
    display: inline-block;
    padding: 22px 19px;
    font-size: 19px;
    font-weight: 600;
    margin: 0px 2px;
    font-family: Raleway;
}
.custom-navbar-hm-pg li:last-child {
  margin-right: -65px;
}
.custom-navbar-hm-pg li a {
  color: white;
  text-decoration: none;
  font-family: Raleway;
}
.custom-navbar-hm-pg ul li a:hover {
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 7px 15px;
}
.trigger-navbar-home-page {
  content: "";
  height: 4px;
  width: 37px;
  background-color: grey;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}

.trigger-navbar-home-page:before {
    content: "";
    width: 37px;
    height: 4px;
    background-color: grey;
    display: block;
    margin-top: 8px;
    margin-bottom: 5px;
}
.trigger-navbar-home-page:after {
    content: "";
    width: 37px;
    height: 4px;
    background-color: grey;
    display: block;
    margin-top: 6px;
    margin-bottom: 20px;
}
.interest-box{
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg2.png);
    background-repeat: no-repeat;
    /*float: right;*/
    background-size: cover;
}
/*.interest-box::-webkit-scrollbar {
    -webkit-appearance: none;
}*/
.container {
    max-width: 1268px;
}
.custom-navbar-become-partner li:last-child {
    padding-right: 0;
    margin-right: -5px;
}
.custom-navbar-become-partner {
    float: right;
}
.header-become-partner {
    background-color: #383838;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.61);
    display: block;
    width: 100%;
    z-index: 99999;
    top: 0;
    height: 97px;
    position: fixed;
}
.three-bars{
    width: 49px;
    height: 6px;
    display: block;
    background-color: #be0027;
    z-index: 99999;
    display: none;
}
.three-bars:after{
    content: '';
    display: block;
    width: 49px;
    height: 6px;
    background-color: #be0027;
    margin-top: 6px;
}
.three-bars:before{
    content: '';
    display: block;
    width: 49px;
    height: 6px;
    background-color: #be0027;
    margin-top: 10px;
}
.custom-navbar-become-partner li {
    display: inline-block;
    padding: 41px 2px;
    font-size: 25px;
    font-weight: 600;
    margin: -4px 24px;
    float: left;

}
.custom-navbar-become-partner li a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway'
}
.custom-navbar-become-partner a:hover {
    border-bottom: 3px solid white;
    padding: 31px 0px;
    z-index: 99999;
}
.icon-become-partner img {
    width: 100%;
    max-width: 71%;
 /*   margin: 18px -36px;*/
 margin-top: 18px;
}
.second-header {
    width: 100%;
    background-image: url(../images/become-partner-bg.png);
    background-repeat: no-repeat;
    /* margin-left: -1px; */
    margin-top: 74px;
    background-position: 0 -90px;
    background-size: cover;
}
.bold-text {
    font-weight: 600;
}
.headings h4 {
    margin-top: 198px;
    text-align: center;
    color: white;
    font-size: 31px;
    margin-bottom: -169px;
}
.headings h5 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 500;
}
.btn-danger.register-now-btn {
    padding: 5px 76px;
    border: 2px solid #fefefe;
    border-radius: 18px 0px 18px 19px;
    color: #ffffff;
    background-color: #be0027;
    margin: 0 auto;
    text-align: center;
    display: flex;
    margin-top: 92px;
    margin-bottom: 90px;
    font-family: 'Accidental Presidency';
    font-size: 26px;
    box-shadow: -10px 0 4px 0 #97092e;
}
.arrow-img {
    height: auto;
    margin: 0 auto;
    display: flex;
    margin-top: -26px;
}
.benefits-heading h5 {
    text-align: center;
    font-size: 68px;
    margin-top: 31px;
    font-family: 'Accidental Presidency';
    color: #be0027;
    margin-top: -34px;
}
.for-pattern-image{
    background-image: url(../images/ptrns.png);
    position: relative;
    margin-top: 0;
}
.light-clr-heading {
    margin-top: 36px;
    text-align: center;
    font-size: 87px;
    color: #fff0ff;
    font-family: 'Accidental Presidency';
}
.light-clr-heading-how {
    margin-bottom: 111px;
    /* margin-top: 40px; */
    text-align: center;
    font-size: 87px;
    color: #fff0ff;
    font-family: Accidental Presidency;
}
.light-clr-heading-join-ufp {
    margin-top: 72px;
    margin-bottom: -154px;
    text-align: center;
    font-size: 90px;
    color: #fff0ff;
    font-family: 'Accidental Presidency';
}

.point-two-bold, .point-one-bold , .point-three-bold{
    font-weight: 800;
}
.five-steps-heading h5 {
    text-align: center;
    margin-top: -180px;
    font-size: 67px;
    color: #be0027;
    margin-bottom: 30px;
   font-family: 'Accidental Presidency';
}
.points {
    line-height: 34px;
    font-size: 27px;
    font-weight: 600;
    width: 100%;
    max-width: 69%;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: 700;
    margin-left: 260px;
    color: #000000;
}
.interest-heading {
    margin-bottom: 54px;
    text-align: center;
    font-size: 68px;
    color: #be0027;
    margin-top: 106px;
    font-family: 'Accidental Presidency';
}
.lbl {
    margin-top: 21px;
    color: #a3a3a3;
    font-size: 15px;
    font-weight: 600;
}
.value {
    display: block;
    width: 100%;
    font-size: 24px;
    line-height: 1.5;
    border: none;
    border-bottom: 2px solid #de7f93;
    margin-top: -8px;
    margin-bottom: 0px;
    border-radius: 0px;
    font-family: 'Accidental Presidency';
    color: grey;
}
.register-btn {
    background-color: #be0027;
    padding: 3px 54px;
    border-radius: 19px 0px 19px 23px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'Accidental Presidency';
    font-size: 21px;
    margin-bottom: 40px;
    margin: 0 auto;
    display: flex;
}
.value::placeholder{
    color: grey;
}
.black-clr::placeholder{
    color: #a3a3a3;
}
.that-easy-img {
    text-align: center;
    width: 37%;
    margin: 0 auto;
}
.easy-img {
    margin-bottom: -4px;
}
.list {
    background-color: transparent;
    text-decoration: none;
    border: none;
    margin-top: 9px;
    color: #919191;
    font-size: 24px;
    padding: 9px 5px;
    margin-left: -225px;
    border-bottom: 2px solid #de7f93;
    width: 100%;
    margin-left: 2px;
    font-family: 'Accidental Presidency';
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../images/drop-down-arrow.png);
    background-position: right;
    background-repeat: no-repeat;
}
.options{
    color: grey;
    font-weight: 700;
    border: none;
    text-decoration: none;
}
.form-group.user-form {
    padding: 4px 15px;
    margin-top: -20px;
}
.form-control.value {
    padding: 10px 13px;
}
.btn.btn-danger.register-btn {
    box-shadow: -10px 0 4px 0px #b8b8b8;
}


/*css by manoj*/
.become-partner-banner {
    text-align: center;
    padding: 74px 0 115px;
}
.become-partner-banner p{
    color: #fff;
    font-size: 25px;
    line-height: 1.6;
    font-weight: 500;
}
.register-box-btn{
    padding-bottom:  35px;
}
.form-control:focus{
    outline: 0 !important;
    box-shadow: none;
}


/*css by manoj 16-10-19*/
.benefits-wraper {
    width: 100%;
}
.benefits-points-wraper{
    width: 100%;
    max-width: 80%;
    /*background-image: url(../images/left-section-pink.png);*/
    background-color: #fcf2f4;
    padding: 18px 10px;
    border-radius:180px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
}
.benefits-points-rightwraper{
    width: 100%;
    max-width: 80%;
    /*background-image: url(../images/left-section-pink.png);*/
    background-color: #fcf2f4;
    padding: 18px 10px;
    border-radius:0 180px 0 0;
    display: flex;
    flex-wrap: wrap;
    float: right;
}
.benefits-points-leftimgbx{
    flex: 50%;
    max-width: 50%;
}
.benefits-points-leftimgbx img{
    padding: 15px 0 0 30px;
}
.benefits-points-leftcontentbx {
    flex: 50%;
    max-width: 50%;
    padding: 0px 40px;
    position: relative;
}
.benefits-points-leftcontentbx1:after {
    content: '';
    background-image: url(../images/1.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 80px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: -72px;
}
.benefits-points-leftcontentbx2:before {
    content: '';
    background-image: url(../images/2.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 80px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -49px;
}
.benefits-points-leftcontentbx3:after {
    content: '';
    background-image: url(../images/3.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 80px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: -72px;
}
.benefits-points-leftcontentbx h6{
     font-size: 26px;
    font-weight: 700;
    margin-bottom: 27px;
}
.benefits-points-leftcontentbx p{
    font-size: 20px;
   line-height: 27px;
   font-weight: 500;
}
.step-contentbx p {
    line-height: 23px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.simple-steps-wraper {
    width: 100%;
    padding: 15px 0;
}
.step-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: -3px;
}
.step-imgbx {
    flex: 40%;
    max-width: 40%;
}
.step-contentbx {
    flex: 60%;
    max-width: 60%;
    background-color: #fcf2f4;
    margin-left: -9px;
    display: flex;
    align-items: center;
    padding: 0 25px;
}
.simple-steps-inner-wrap {
    width: 100%;
    max-width: 80%;
    position: relative;
}
.simple-steps-inner-wrap:after{
    content: '';
    position: absolute;
    height: 65px;
    width: 139px;
    background-image: url(../images/5pointdot.png);
    display: inline-block;
    bottom: -19px;
    right: -37px;
}
.benefits-wraper h3 {
    text-align: center;
    margin-top: 28px;
    font-size: 72px;
    font-family: Accidental Presidency;
    color: #fff0ff;
}
.benefits-wraper h4 {
    text-align: center;
    margin-top: -44px;
    font-size: 55px;
    font-family: Accidental Presidency;
    color: #be0027;
    margin-bottom: 35px;
}
.step-contentbx1 {
    background-image: url(../images/kettle-bell.png);
    background-position: 93% 27%;
    background-repeat: no-repeat;
}
.point-one-content {
    width: 100%;
    max-width: 80%;
    float: right;
    padding-right: 104px;
}
.point-two-content {
    width: 100%;
    max-width: 74%;
    float: left;
    padding-right: 104px;
    text-align: right;
}
.point-three-content {
    width: 100%;
    max-width: 80%;
    float: right;
    padding-right: 104px;
}
.pts {
    color: black;
    font-size: 14px;
    font-weight: 600;
    background-color: #f7dee3;
    line-height: 40px;
    padding: 17px 50px;
}
.five-points-ul{
    display: none;
}
.home-btn-box{
    float: right;
    margin-top: 29px;
}
.home-btn{
    background: none;
    border: none;
    color: #e95177;
    font-size: 21px;
    font-weight: 600;
}
.home-btn:hover {
    text-decoration: none;
    background: none;
    color: #e95177;
    border:none;
}
.home-btn:focus{
border:none;
    }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
-moz-appearance: none;
}
